{% extends "main/base.html" %}
{% block title %}Challenges | Home{% endblock %}
{% block og_title %}Challenges | Home{% endblock %}
{% block page_classes %}page-main-challenges-index{% endblock %}

{% block content %}
    <div class="uk-section">
        <div class="uk-container">
            <h1 class="uk-header uk-article-title">
                Challenges
                <p class="uk-article-meta">
                    Compete in our Python challenges!
                </p>
            </h1>
            <div class="uk-margin-small-top">
                {% if logged_in %}
                    <a class="uk-button uk-button-primary" type="button" href="#">
                        <i class="uk-icon fa-fw far fa-plus"></i>&nbsp;
                        Create
                    </a>
                {% endif %}
                <button class="uk-button uk-button-default" type="button">
                    <i class="uk-icon fa-fw far fa-filter"></i>&nbsp;
                    Filter
                </button>
                <div uk-dropdown="mode: click">
                    <ul class="uk-nav uk-dropdown-nav">
                        {% with filter={}, mod={}, name="Reset Filter" %}
                            {% include "main/challenges/index_challenge_filter.html" %}
                        {% endwith %}

                        <li class="uk-nav-header">Difficulty</li>
                        {% with mod={"difficulty": "beginner"}, name="Beginner" %}
                            {% include "main/challenges/index_challenge_filter.html" %}
                        {% endwith %}
                        {% with mod={"difficulty": "intermediate"}, name="Intermediate" %}
                            {% include "main/challenges/index_challenge_filter.html" %}
                        {% endwith %}
                        {% with mod={"difficulty": "expert"}, name="Expert" %}
                            {% include "main/challenges/index_challenge_filter.html" %}
                        {% endwith %}
                        {% with mod={"difficulty": None}, name="Any" %}
                            {% include "main/challenges/index_challenge_filter.html" %}
                        {% endwith %}

                        {% if logged_in %}
                            <li class="uk-nav-header">Completion</li>
                            {% with mod={"completed": True}, name="Completed" %}
                                {% include "main/challenges/index_challenge_filter.html" %}
                            {% endwith %}
                            {% with mod={"completed": False}, name="Not Completed" %}
                                {% include "main/challenges/index_challenge_filter.html" %}
                            {% endwith %}
                            {% with mod={"completed": None}, name="All" %}
                                {% include "main/challenges/index_challenge_filter.html" %}
                            {% endwith %}
                        {% endif %}
                    </ul>
                </div>
                <a class="uk-button uk-button-default" type="button" href="#">
                    <i class="uk-icon fa-fw fal fa-random"></i>&nbsp;
                    Random
                </a>
            </div>
            {% if not challenges %}
                <p>
                    Sorry, there are no challenges matching this filter.
                </p>
            {% else %}
                <div class="uk-child-width-1-1@s uk-child-width-1-2@m uk-margin-medium-top" uk-grid>
                    {% for challenge in challenges %}
                        <div>
                            <div class="uk-card uk-card-default uk-margin-small-top">
                                <div class="uk-card-body">
                                    <div class="uk-card-title">
                                        {{ challenge.title }}
                                    </div>
                                    <div>
                                        {% if challenge.difficulty == "beginner" %}
                                            <span class="uk-label uk-label-success">
                                            Beginner
                                        </span>
                                        {% elif challenge.difficulty == "intermediate" %}
                                            <span class="uk-label uk-label-warning">
                                            Intermediate
                                        </span>
                                        {% elif challenge.difficulty == "hard" %}
                                            <span class="uk-label uk-label-danger">
                                            Expert
                                        </span>
                                        {% endif %}
                                    </div>
                                    <p>
                                        Summary: {{ challenge.summary }}
                                    </p>
                                    <p class="challenge-author-name">
                                        Submitted
                                        by {{ challenge.author.username }}#{{ challenge.author.discriminator }}
                                    </p>
                                    <a class="uk-button uk-button-primary uk-align-center" href="#">
                                        <i class="uk-icon fa-fw far fa-eye"></i> &nbsp;View
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <ul class="uk-pagination uk-margin-medium uk-flex uk-flex-center">
                    {% for page in pagination(page_number, total_page_count, filter) %}
                        {% if page.disabled %}
                            <li class="uk-disabled">
                        {% elif page.active %}
                            <li class="uk-active">
                        {% else %}
                            <li>
                        {% endif %}

                        {% if page.num == "previous" %}
                            <a href="{{ page.url }}"><span uk-pagination-previous></span></a>
                        {% elif page.num == "next" %}
                            <a href="{{ page.url }}"><span uk-pagination-next></span></a>
                        {% else %}
                            <a href="{{ page.url }}">{{ page.num }}</a>
                        {% endif %}

                            </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
